/* top nav menu*/

#top {
    display: flex;
    justify-content: center;
}

#toph1 {
    font-family: creepster;
    font-size: 88px;
    color: chartreuse;
}

#topimage {
    width: 277px;
    height: 277px;
}

#toprightimg {
    width: 277px;
    height: 277px;
}

#topmenu {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.topmenubuttons {
    font-family: creepster;
    font-size: 44px;
    color: darkviolet;
}

.topmenubuttons:visited {
    color: orange;
}


.topmenubuttons:hover {
    color: chartreuse;
}


#headerhr {
    width: 1300px;
    position: center;
    border-top: ridge 15px chartreuse;
    padding: 3px;
    background-color: darkviolet;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/* top nav menu*/

/* footer stuff */

#footerhr {
    width: 1300px;
    position: center;
    border: ridge 15px chartreuse;
    padding: 3px;
    background-color: darkviolet;
    border-top: none;
    border-left: none;
    border-right: none;
}

footer {
    color: orange;
    font-family: creepster;
    font-size: 30px;
    text-align: center;
}

footer:hover {
    color: darkviolet;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.linkpicture {
    width: 90px;
    height: 70px;
    border: 3px ridge orange;
    border-radius: 13px;

}

.linkpicture:hover {
    border: darkviolet 3px ridge;
}

/* footer stuff */



body {
    background-color: black;
    border: 25px ridge darkviolet;
    padding: 15px;
}




h2 {
    font-family: creepster;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
}

h2:hover {
    color: darkviolet;
}



.memberprofile {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.profilepicture {
    width: 230px;
    height: 300px;
    border: ridge 8px darkviolet;

}

p {
    color: whitesmoke;
    text-align: center;
    font-family: creepster;
    font-size: 30px;
}

p:hover {
    color: chartreuse;
}



.playbookmenu {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.playbookpicture {
    width: 230px;
    height: 300px;
    border: ridge 7px darkviolet;
    border-radius: 31px;

}


hr {
    width: 1300px;
    position: center;
    border: ridge 7px chartreuse;
    padding: 2px;
    background-color: darkviolet;
    padding: 3px;
}